{% extends "base.jinja" %}
{% block title %}Wins by Mechanics{% endblock %}
{% block css %}main.css{% endblock %}
{% block extraHead %}
	<script type="text/javascript" src="{{ static('javascript/sortable.min.js') }}"></script> 
{% endblock %}
{% block content %}
	<div class="page-title grid-100">
		<h2>{{ category }}</h2>
	</div>
	<div class="grid-100">
		<table data-sortable>
			<thead>
				<tr>
					<th data-sorted="true" data-sorted-direction="ascending">Name</th>
					<th>Wins</th>
					<th>Plays</th>
					<th>Percent</th>
				</tr>
			</thead>
			<tbody>
				{% for mechanic in mechanics %}
					<tr>
						<td>{{ mechanic["name"] }}</td>
						<td>
							<a href='{{ url("player_mechanics_game_wins", player_id=player.id,
								 mechanic_id=mechanic["id"]) }}'>
								 {{ mechanic["wins"] }}
							</a>
						</td>
						<td>
							<a href='{{ url("player_mechanics_game_plays", player_id=player.id,
								 mechanic_id=mechanic["id"]) }}'>
								 {{ mechanic["plays"] }}
							</a>
						 </td>
						<td>{{ mechanic["wins"]|divided_percent(mechanic["plays"]) }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
