
/* 
 * Global Layout Styles
 */
body{
	background-color: #fefefe;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	color: #333;
}
#header {
	background-color: #03a9f4;
	background-image: url(/static/media/bgs-bg-transparent.png);
	background-position: center top;
	color: #fff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	text-align: center;
}
#header img {
	margin: 1em 0;
}
#header h1 {
	margin: .5em 0 1em;
}
#header h1 a {
	color: #fff;
}
#footer {
	background-color: #444;
	color: #fff;
	padding: 1.5em 0;
	margin-top: 4em;
}
#menu {
	background-color: #0784BD;
	-webkit-transition:	box-shadow .3s;
	-moz-ransition:			box-shadow .3s;
	-o-transition:			box-shadow .3s;
	transition:					box-shadow .3s;
}
#menu.stuck {
	position: fixed;
	z-index: 10;
	width: 100%;
	top: 0;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
}
#menu ul li {
	display: inline-block;
}
#menu ul li a {
	display: inline-block;
	color: #fff;
	padding: 10px 10px 5px;
	border-bottom: 5px solid transparent;
	-webkit-transition:	border .3s;
	-moz-ransition:			border .3s;
	-o-transition:			border .3s;
	transition:					border .3s;
}
#menu ul li.active a,
#menu ul li a:hover {
	border-bottom: 5px solid #ff5252;
	text-decoration: none;
}
#menu ul li.games.active a,
#menu ul li.games a:hover {
	border-bottom: 5px solid #ffcd40;
	text-decoration: none;
}
#menu ul li.plays.active a,
#menu ul li.plays a:hover {
	border-bottom: 5px solid #8bc34a;
	text-decoration: none;
}
#menu ul li.players.active a,
#menu ul li.players a:hover {
	border-bottom: 5px solid #4527a0;
	text-decoration: none;
}
#search {
	float: right;
	background: #036896;
}
#search input[type="search"] {
	padding: 14px;
	border: none;
	border-radius: 0;
	background: #036896;
	color: #fff;
}
#search button {
	background: none;
	border: none;
	color: #fff;
	padding: 4px;
	font-size: 20px;
}
#content {
	margin-top: 2em;
}
.flex-container {
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}
.flex-container .box {
	margin-bottom: 0;
}

/* 
 * General Formatting Styles
 */

a {
	text-decoration: none;
	color: #03a9f4;
}
a:hover {
	text-decoration: underline;
}
h1, h2, h3, h4 {
	margin: 0.5em 0;
}
h1 {
	font-size: 4em;
}
h2 {
	font-size: 3em;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.5em;
}
table {
	border-collapse: collapse;
	width: 100%;
}
table thead {
	background: #ccc;
	text-align: left;
}
table td,
table th {
	border: 1px solid #bbb;
	padding: 3px 5px;
}
table tr:nth-child(even) {
	background: #eee;
}
table td.col-1 {
	font-weight: bold;
}
/* Table sorting styles */
table[data-sortable] th:not([data-sortable="false"]) {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  cursor: pointer;
  padding-right: 30px;
  color: #03a9f4;
}
table[data-sortable] th[data-sorted="true"] {
	background: #bbb;
}
table[data-sortable] th:after {
  content: "";
  position: absolute;
  right: 10px;
  visibility: hidden;
  display: inline-block;
  vertical-align: inherit;
  height: 0;
  width: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
}
table[data-sortable] th[data-sorted="true"]:after {
  visibility: visible;
}
table[data-sortable] th[data-sorted-direction="descending"]:after {
  border-top-color: #333;
  margin-top: 8px;
}
table[data-sortable] th[data-sorted-direction="ascending"]:after {
  border-bottom-color: #333;
  margin-top: 3px;
}

hr {
	border: none;
	background: #bbb;
	height: 1px;
}
.color-salmon {
	background-color: #ff5252;
}
.color-gold {
	background-color: #ffcd40;
}
.color-green {
	background-color: #8bc34a;
}
.color-purple {
	background-color: #4527a0;
	color: #fff;
}
.color-gray {
	background-color: #ddd;
}
.box h3 {
	margin: 0 -10px 10px;
	background: rgba(0,0,0,0.1);
	padding: 0 10px;
}
.more-link {
	text-align: right;
}
.left {
	float: left;
}
.right {
	float: right;
}
.centered {
	text-align: center;
}
.hide {
	display: none;
}

/* 
 * Game Page Styles
 */
#game-cover img {
	width: 100%;
	max-width: 300px;
	height: auto;
}

/* 
 * Play Page Styles
 */
.play_img{
	max-width: 20%;
	height: auto;
}
.winner{
	background-color: #D6EBFF;
}


/* Graph Styles */
.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
rect {
	fill: tomato;
}
.color-purple .axis path,
.color-purple .axis line {
	stroke: #fff;
}
.color-purple text {
	fill: #fff;
}
.count-low {
	fill: #F03535;
}
.count-medium {
	fill: #F7B90C;
}
.count-high {
	fill: #609E1A;
}

.data-toggle.selected {
	text-decoration: underline;
	color: #fff;
}

/* 
 * Breakpoints
 */

@media screen and (max-width: 1024px) {
	.flex-container {
		display: inherit;
	}
}
