{% extends "base.jinja" %}
{% set page_name = "add_play" %}

{% block js %}
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
	<h1>Add Play</h1>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form id="form" action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ play_form.as_p() }}
		<input hidden="True" id="id_referer" name="first" type="text" value="first" />
		<input id = "save" type="submit" value="Save"/>
	</form>
{% endblock %}