{% extends "base.jinja" %}
{% set page_name = "add_play" %}

{% block js %}
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
	<h1>Add Play</h1>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form id="form" action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		
		{{ play_form.as_p() }}
		
		{# game stat table begins here#}
		{{ game_form.management_form|safe }}
		<h2>Game Stats</h2>
		<table>
			<tr>
				<th/>
				{% for stat in gamestats %}
					<th>{{ stat }}</th>
				{% endfor %}
			</tr>
			<tr>
				<td>Value</td>
				{% for stat in gamestats %}
					<td>
					{% for form in game_form %}
						{% for field in form %}
							{% if field.form.initial["stat"] == stat.id %}
								{{ field|safe }}
							{% endif %}
						{% endfor %}
					{% endfor %}
					</td>
				{% endfor %}
			</tr>
		</table>
		{# game stat table ends here#}
		
		{# playerstats table is below #}
		<h2> Player Stats</h2>
		{{ playstat_forms.management_form|safe }}
		<table>
		<tr>
			<th/>
			{% for player in players %}
				<th>{{ User.objects.get(id=player) }}</th>
			{% endfor %}
		</tr>
		{% for stat in playerstats %}
			<tr>
				<td>
					{{ stat.name }}
				</td>
				{% for player in players %}
					<td>
					{% for form in playstat_forms %}
						{% for field in form %}
							{% if field.form.initial["player"] == player and field.form.initial["stat"] == stat.id %}
								{{ field|safe }}
							{% endif %}
						{% endfor %}
					{% endfor %}
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
		</table>
		<input hidden="True" id="id_referer" name="players" type="text" value="{{ players }}" />
		<input id = "save" type="submit" value="Save"/>
	</form>

{% endblock %}