{% extends "base.jinja" %}
{% block title %}All Games{% endblock %}
{% block css %}main.css{% endblock %}
{% block extraHead %}
	<script type="text/javascript" src="{{ static('javascript/sortable.min.js') }}"></script> 
{% endblock %}

{% if content_type == "games" %}
	{% set page_name = "games" %}
{% endif %}
{% if content_type == "plays" %}
	{% set page_name = "plays" %}
{% endif %}
{% if content_type == "players" %}
	{% set page_name = "players" %}
{% endif %}

{% block content %}
	<div class="page-title grid-100">
		<h2>All {{ content_type|title }}</h2>
	</div>
	
	<div class="grid-100">
		<table data-sortable>
			{% if content_type == "games" %}
			<thead>
				<tr>
					<th data-sorted="true" data-sorted-direction="ascending">Name</th>
					<th>BGG Rating</th>
					<th data-sortable="false">Categories</th>
					<th>Min Players</th>
					<th>Max Players</th>
					<th>Total Plays</th>
					<th width="16%">Average Play Time</th>
				</tr>
			</thead>
			<tbody>
				{% for game in content %}
					<tr>
						<td><a href="{{ url('game', game_id=game.id) }}">{{ game.name }}</a></td>
						<td>
							{{ game.bgg_bayesaverage }}
						</td>
						<td>
							{{ game.categories.all()|join(', ') }}
						</td>
						<td>
							{{ game.min_players }}
						</td>
						<td>
							{{ game.max_players }}
						</td>
						<td>{{ game.play_set.count() }}</td>
						<td data-value="{{ game.get_avg_playtime() }}">
							{{ game.get_avg_playtime()|duration_format }}
						</td>
					</tr>
				{% endfor %}
			</tbody>

			{% endif %}

			{% if content_type == "plays" %}
			<thead>
				<tr>
					<th data-sorted="true" data-sorted-direction="descending">Date</th>
					<th>Name</th>
					<th>Play Time</th>
					<th>Players</th>
					<th>Winner(s)</th>
				</tr>
			</thead>
			<tbody>
				{% for play in content %}
					<tr>
						<td><a href="{{ url('play', play_id=play.id) }}">{{ play.date }}</a></td>
						<td><a href="{{ url('game', game_id=play.game.id) }}">{{ play.game.name }}</a></td>
						<td data-value="{{ play.play_time }}">
							{{ play.play_time|duration_format }}
						</td>
						<td>{{ play.num_players }}</td>
						<td>
							{% set first = 1 %}
							{% for playstat in play.playstat_set.all() %}
								{% if playstat.stat.name ==  'Won'  and playstat.value == 'T'  and first == 1 %}
									{% set first = first - 1 %}
									<a href="{{ url('player', playstat.player.id) }}">{{ playstat.player.username }}</a>
								{% elif playstat.stat.name ==  'Won'  and playstat.value == 'T'  and first == 0 %}
									, <a href="{{ url('player', playstat.player.id) }}">{{ playstat.player.username }}</a>
								{% endif %}
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
			{% endif %}

			{% if content_type == "players" %}
			<thead>
				<tr>
					<th data-sorted="true" data-sorted-direction="ascending">Name</th>
					<th>Plays</th>
					<th>Wins</th>
					<th>Total Play Time</th>
					<th>Game Points</th>
					<th>Most Recent Play</th>
				</tr>
			</thead>
			<tbody>
				{% for player in content %}
					{% if not player.username == 'game' %}
					<tr>
						<td><a href="{{ url('player', player_id=player.id) }}">{{ player.username }}</a></td>
						<td>{{ player.playstat_set.all().filter(stat__name = 'Won').count()}}</td>
						<td>{{ player.playstat_set.all().filter(value='T', stat__name = 'Won').count()}}</td>
						<td data-value="{{ plays.filter(playstat__player=player).distinct()|sum(attribute='play_time') }}">
							{{ plays.filter(playstat__player=player).distinct()|sum(attribute='play_time')|duration_format}}
						</td>
						<td>
						{% set points = 0 %}
						{% for stat in player.playstat_set.all().filter(value='T', stat__name = 'Won') %}
							{% set points = points + stat.play.game.weight %}
							{% if loop.last %}
								{{ points|round(2) }}
							{% endif %}
						{% endfor %}
						</td>
							{% for play in plays.filter(playstat__player=player).distinct().order_by('-date', 'id')[:1] %}
							<td data-value="{{ play.date }}">
									<a href="{{ url('play', play_id=play.id) }}">{{ play.game }} - {{ play.date.strftime('%B %d, %Y') }}</a>
							</td>
							{% endfor %}
					</tr>
					{% endif %}
				{% endfor %}
			</tbody>
			{% endif %}
		</table>
		
		<p>{{ content.count() }} {{ content_type|title }}</p>

		<p class="centered">@TODO Add pager here</p>
		
	</div>
{% endblock %}
