<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" version="-//W3C//DTD XHTML 1.1//EN" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
		<title>{% block title %}My amazing site{% endblock %}</title>
		<link rel="stylesheet" href="{{ static('css/unsemantic.css') }}" type="text/css" media="screen" />
		<link rel="stylesheet" href="{{ static('css/') }}{% block css %}main.css{% endblock %}" type="text/css" media="screen" />
		<link rel="Shortcut Icon" href="{{ static('/media/favicon.png') }}" type="image/x-icon" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic' rel='stylesheet' type='text/css'>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		{% block extraHead %}{% endblock %}
	</head>
	<body>
		<header id="header">
			<div class="grid-container">
				<div class="grid-100">
					<div id="logo">
						<img src="{{ static('media/bgs-logo-bw.png') }}" width="128" height="128" />
					</div>
					<h1>
						<a href="{{ url('main') }}">
							The Board Game Site
						</a>
					</h1>
				</div>
			</div>
		</header>

		<nav id="menu">
			<div class="grid-container">
				<div class="grid-100">
					{% block sidebar %}
					<ul>
						<li class="main {% if page_name == 'main' %} active{% endif %}"><a href="{{ url('main') }}">Home</a></li>
						<li class="games {% if page_name == 'games' %} active{% endif %}"><a href="{{ url('all_content', content_type='games') }}">All Games</a></li>
						<li class="plays {% if page_name == 'plays' %} active{% endif %}"><a href="{{ url('all_content', content_type='plays') }}">All Plays</a></li>
						<li class="players {% if page_name == 'players' %} active{% endif %}"><a href="{{ url('all_content', content_type='players') }}">All Players</a></li>
						{% if user.is_authenticated %}
							{% if user.is_staff %}
								<li class="{% if page_name == 'add_play' %} active{% endif %}"><a href="{{ url('add_play') }}">Add play</a></li>
								<li><a href="{{ url('admin:index') }}">Admin</a></li>
							{% endif %}
						{% endif %}
					</ul>
					{% endblock %}
					<form id="search" action="#" method="post">
						<input type="search" name="search" placeholder="Search..." />
						<button name="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>
			</div>
		</nav>
			
		<section id="content" class="grid-container">
			{% block content %}{% endblock %}
		</section>
		
		<footer id="footer">
			<div class="grid-container">
				<div class="grid-100">
					<p>
						This is the footer. We can add contact info, copyright, and other nonsense here.
					</p>
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="//d3js.org/d3.v3.js"></script>
		<script type="text/javascript">
			window.bgs = window.bgs || {};
			window.bgs.json = window.bgs.json || {};
			window.bgs.json.playStats = {
				'plays': '{{ url('play_stats_by_month', metric="plays") }}',
				'time': '{{ url('play_stats_by_month', metric="time") }}',
				'players': '{{ url('play_stats_by_month', metric="players") }}',
				'all': '{{ url('play_stats_by_month', metric="all") }}'
			};
		</script>
		<script type="text/javascript" src="{{ STATIC_URL }}javascript/main.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}javascript/graphs.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}javascript/waypoints.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}javascript/waypoints-sticky.min.js"></script>
		{% block js %}{% endblock %}
	</body>
</html>

