{% extends "base.jinja" %}
{% block title %}{{ game.name }}{% endblock %}
{% block css %}main.css{% endblock %}

{% block content %}
	<div class="page-title grid-100">
		<h2>{{ game.name }}</h2>
	</div>
	<div id="stats" class="clearfix">
		<div id="game-cover" class="grid-30">
			<img src="{{ game.image }}" title="{{ game.name }}" />
		</div>
		<div class="grid-70 color-green box">
			<h3>Stats</h3>
			<ul>
				<li><strong>BGG Rating:</strong> {{ game.bgg_bayesaverage }}</li>
				<li><strong>Plays:</strong> {{ plays.count() }}</li>
				<li><strong>Average Play Time:</strong> {{ avg_playtime['play_time__avg']| duration_format }}</li>
				<li><strong>Suggested Play Time:</strong> {{ game.bgg_playing_time| duration_format }}</li>
				<li><strong>Players:</strong> {{ game.min_players }}-{{ game.max_players }}</li>
			</ul>
		</div>
		<div class="grid-70 color-purple box right">
			<h3>Who's played it?</h3>
			<ul>
			{% for player in players_who_have_played %}
				<li><a href="{{ url('player', player_id=player.id) }}">{{ player }}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>

	<div id="description" class="grid-100">
		<h3>Description</h3>
		<p>{{ game.description|safe }}</p>
		{% block gamestats %}{% endblock %}
	</div>
	<div id="plays" class="grid-100">
		<h3>Recent Plays</h3>
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Play Time</th>
					<th># of Players</th>
					<th>Expansions</th>
				</tr>
			</thead>
			<tbody>
				{% for play in plays %}
					<tr>
						<td><a href="{{ url('play', play_id=play.id) }}">{{ play.date }}</a></td>
						<td>{{ play.play_time| duration_format }}</td>
						<td>{{ play.num_players }}</td>
						<td>{% for expansion in play.expansions.all() %} {{expansion}}{% endfor %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
