{% extends "base.jinja" %}
{% block title %}Wins by categories{% endblock %}
{% block css %}main.css{% endblock %}
{% block extraHead %}
	<script type="text/javascript" src="{{ static('javascript/sortable.min.js') }}"></script> 
{% endblock %}
{% block content %}
	<div class="page-title grid-100">
		<h2>{{ title }}</h2>
	</div>
	<div class="grid-100">
		<ol>
			{% for game in games %}
				<li><a href="{{ url('game', game_id=game.id) }}">{{ game.name }}</a></li>
			{% endfor %}
		</ol>
	</div>
{% endblock %}