{% extends "base.jinja" %}

{% block title %}Games{% endblock %}
{% block css %}main.css{% endblock %}
{% set page_name = "main" %}

{% block content %}
	
<div class="flex-container">
	{% if plays %}
		<div id="last-play" class="grid-50 grid-left box color-salmon">
			<h3>Most Recent Play</h3>
			<img src="{{ plays[0].game.image }}" width="150" class="right" />
			<h4><a href="{{ url('play', play_id=plays[0].id) }}">{{ plays[0].game.name }}</a></h4>
			<ul>
				<li><strong>Date:</strong> {{ plays[0].date }}</li>
				<li><strong>Play Time:</strong> {{ plays[0].play_time|duration_format }}</li>
				<li><strong>Winner(s):</strong> 
					{% for playstat in plays[0].playstat_set.all() %}
						{% set first = 1 %}
						{% if playstat.stat.name ==  'Won'  and playstat.value == 'T'  and first == 1 %}
							{% set first = first - 1 %}
							<a href="{{ url('player', playstat.player.id) }}">{{ playstat.player.username }}</a>
						{% elif playstat.stat.name ==  'Won'  and playstat.value == 'T'  and first == 0 %}
							, <a href="{{ url('player', playstat.player.id) }}">{{ playstat.player.username }}</a>
						{% endif %}
					{% endfor %}
				</li>
				<li><strong>Players:</strong> 
					{% set first = 1 %}
					{% for playstat in plays[0].playstat_set.all() %}
							{% if playstat.stat.name ==  'Won' and first == 1 %}
								{% set first = first - 1 %}
								<a href="{{ url('player', playstat.player.id) }}">{{ playstat.player.username }}</a>
							{% elif playstat.stat.name ==  'Won' and first == 0 %}
								,<a href="{{ url('player', playstat.player.id) }}">{{ playstat.player.username }}</a>
							{% endif %}
					{% endfor %} 
				</li>
			</ul>
		</div>
		<div id="plays" class="grid-50 grid-right box color-gold">
			<h3>Recent Plays</h3>
			<ul>
			{% for play in plays[:5] %}
				<li><a href="{{ url('play', play_id=play.id) }}">{{ play.game.name }} - {{ play.date.strftime('%B %d, %Y') }}</a></li>
			{% endfor %}
			</ul>
			<p class="more-link"><a href="{{ url('all_content', content_type='plays') }}">More Plays</a></p>
		</div>
	{% endif %}
	<div id="players" class="grid-50 grid-left box color-green">
		<h3>Recent Players</h3>
		<ul>
			{% for playstat in playstats[:5] %}
				<li><a href="{{ url('player', player_id=playstat.player.id) }}">{{playstat.player}}</a></li>
			{% endfor %}
		</ul>
		<p class="more-link"><a href="{{ url('all_content', content_type='players') }}">More Players</a></p>
	</div>

	<div class="grid-50 grid-right box color-gray">
		<h3>Overall Site Stats</h3>
		<p>Here's some overal stats of the whole site</p>
		<ul>
			<li><strong>Total Games:</strong> {{ games.count() }}</li>
			<li><strong>Total Plays:</strong> {{ plays.count() }}</li>
			<li><strong>Total Players:</strong> {{ players.count() }}</li>
			<li><strong>Total Play Time:</strong> {{ plays|sum(attribute='play_time')|duration_format}}</li>
			<li><strong>Average Play Time:</strong> {{ avg_playtime.play_time__avg|round(2, 'floor')|duration_format }}</li>
		</ul>
	</div>

	<div class="grid-100 box color-purple">
		<h3>Stats Over Time</h3>
		<div id="plays-by-month">
			<div class="period-controls">
				<a href="#" class="prev-period" data-direction="left">
					<i class="fa fa-arrow-left"></i> Previous
				</a>
				<a href="#" class="next-period right hide" data-direction="right">
					Next <i class="fa fa-arrow-right"></i>
				</a>
			</dv>
			<svg></svg>
			<div class="data-toggles">
				<p class="centered">
					<a href="#" class="data-toggle selected" data-metric="plays"># of Plays</a> |
					<a href="#" class="data-toggle" data-metric="time">Time Played</a> |
					<a href="#" class="data-toggle" data-metric="players">Average Players</a>
				</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
