{% extends "base.jinja" %}
{% block title %}Play {{ play.id }}{% endblock %}
{% block css %}main.css{% endblock %}

{% block content %}
	<div class="page-title grid-100">
		<h2><a href="{{ url('game', game_id=play.game.id) }}">{{ play.game.name }}</a> - {{ play.date.strftime('%B %d, %Y') }}</h2>
	</div>
	{% if play.play_image %}
	<div class="centered">
		<a href="{{ MEDIA_URL }}{{ play.play_image }}">
			<img class="play_img" src="{{ MEDIA_URL }}{{ play.play_image }}" >
		</a>
	</div>
	{% endif %}
	<div id='game-stats' class="grid-100">
	<h3>Game Stats</h3>
	<p><strong>Play Time</strong>: {{ play.play_time|duration_format }}</p>
	{% if gamestats.count() > 0 %}
			<table>
				<thead>
					<tr>
						{% for stat in gamestats.values_list('stat__name', flat=True).distinct() %}
							<th>{{ stat }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					<tr>
						{% for gamestat in gamestats.values_list('stat__name', flat=True).distinct() %}
							{% for stat in gamestats %}
								{% if gamestat == stat.stat.name %}
									<td>{{ stat.value }}</td>
								{% endif %}
							{% endfor %}
						{% endfor %}
					</tr>
				</tbody>
			</table>
	{% endif %}
	</div>
	<div id='player-stats' class="grid-100">
		<h3>Player Stats</h3>
		<table>
			<thead>
				<tr>
					<th>Stat</th>
					{% for player in players %}
						{% if player.username != "game" %}
							<th>
								<a href="{{ url('player', player.id) }}">{{ player.username }}</a>
							</th>
						{% endif %}
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for field in playerstats.values_list('stat__name', flat=True).distinct() %}			
					<tr>
						<td class='col-1'>{{ field }}</td>
						{% for player in players %}
							{% for stat in playerstats %}
								{% if player.id == stat.player.id and field == stat.stat.name %}
									{% if player.id == winner.player.id %}
										<td class='winner'>
									{% else %}
										<td>
									{% endif %}
									{{ stat.value }}</td>
								{% endif %}
							{% endfor %}
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div id='game-stats' class="grid-100">
		<h3>Comments</h3>
		<p>
			@TODO perhaps add this feature for an open-ended comment field on a play. Could be fun or interesting or clarify something apout the particular play.
		</p>
	</div>
{% endblock %}