{% extends "base.jinja" %}
{% block title %}player {{ player.username }}{% endblock %}
{% block css %}main.css{% endblock %}

{% block content %}
	<div class="page-title grid-100">
		<h2>{{player}}</h2>
	</div>
	<div class="flex-container">
		<div id="stats" class="grid-50 grid-left box color-green">
			<h3>Stats</h3>
			<div class="user-pic right">
				<img src="http://placecage.com/200/300" />
			</div>
			<ul>
				<li><strong>Wins:</strong> {{ win_num }}/{{ plays_num }} ({{percent_wins}}%)</li>
				<li><strong>Total play time:</strong> {{ time| duration_format}}</li>
				<li><strong>Game Points:</strong> {{ points}} (Wins * game weights)</li>
				<li>
					<strong>Most Played Game:</strong> 
					<a href="{{ url('game', game_id=most_played_game.id) }}">{{ most_played_game }}</a>
					- ({{ most_played_game.c}} plays)
				</li>
				<li>
					<strong>Average Play Time Per Game:</strong> 
					{{ (time/plays_num)|duration_format }}
				</li>
				<li>
					<strong>Average Weight of Game Played:</strong> 
					{{ avg_game_weight.weight__avg }}
				</li>
				<li>
					<strong>Games Owned:</strong> 
					<a href="{{ url('player_owned', player_id=player.id) }}">{{ games_owned }}</a>
				</li>
				<li>
					<strong>Games Played:</strong> 
					<a href="{{ url('player_played_games', player_id=player.id) }}">{{ games_played }}</a>
				</li>
			</ul>
		</div>
		<div id="wins" class="grid-50 grid-right box color-salmon">
			<h3>Recent Wins</h3>
			<ul>
			{% for win in wins %}
				<li><a href="{{ url('play', play_id=win.id) }}">{{ win.game }} - {{win.date}}</a></li>
			{% endfor %}
			</ul>
			<p class="more-link"><a href="{{ url('player_wins', player_id=player.id) }}">More Wins</a></p>
		</div>
		<div id="plays" class="grid-100 box color-purple">
			<h3>Recent Plays</h3>
			<ul>
			{% for play in plays %}
				<li><a href="{{ url('play', play_id=play.id) }}">{{ play.game }} - {{play.date}}</a></li>
			{% endfor %}
			</ul>
			<p class="more-link"><a href="{{ url('player_plays', player_id=player.id) }}">More Plays</a></p>
		</div>
		<div id="mechanics" class="grid-50 box color-green">
			<h3>Wins by Mechanic</h3>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Winrate</th>
					</tr>
				</thead>
				<tbody>
					{% for mechanic in mechanic_wins_list %}
						<tr>
							<td>{{ mechanic["name"] }}</td>
							<td title="{{ mechanic['wins'] }}/{{ mechanic['plays'] }}">
							{{ mechanic["wins"]|divided_percent(mechanic["plays"]) }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<p class="more-link">
				<a href="{{ url('player_mechanics', player_id=player.id) }}">
				More Mechanics
				</a>
			</p>
		</div>
		<div id="categories" class="grid-50 box color-green">
			<h3>Wins by Category</h3>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Winrate</th>
					</tr>
				</thead>
				<tbody>
					{% for category in category_wins_list %}
						<tr>
							<td>{{ category["name"] }}</td>
							<td title="{{ category['wins'] }}/{{ category['plays'] }}">{{ category["wins"]|divided_percent(category["plays"]) }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<p class="more-link">
				<a href="{{ url('player_categories', player_id=player.id) }}">More Categories</a>
			</p>
		</div>
	</div>
{% endblock %}