{% extends "base.jinja" %}
{% block title %}Wins by categories{% endblock %}
{% block css %}main.css{% endblock %}
{% block extraHead %}
	<script type="text/javascript" src="{{ static('javascript/sortable.min.js') }}"></script> 
{% endblock %}
{% block content %}
	<div class="page-title grid-100">
		<h2>{{ title }}</h2>
	</div>
	<div class="grid-100">
		<ol>
			{% for play in plays %}
				<li><a href="{{ url('play', play_id=play.id) }}">{{ play.game.name }} - {{play.date}}</a></li>
			{% endfor %}
		</ol>
	</div>
{% endblock %}
